
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 10px;
  background-color: #222;
  font-size: 20px;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > .container {
  overflow: hidden;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

.widget {
  border: 1px solid black;
  overflow: hidden;
}

.widget .title {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.gridster {
  width: 100%;
  margin: 0 auto;

  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.gridster > ul {
  list-style: none;
}

.gridster .gs_w {
  background: #FFF;
  cursor: pointer;
}

.gridster .player {
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.gridster .preview-holder {
  border: none;
  border-radius: 0;
  background-color: #fff;
  border-color: #fff;
  opacity: 0.3;
}

.front-no-js-warn {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50%;
  width: 798px;
  padding: 15px 20px;
  margin: 0 0 0 -418px;
  z-index: 2;
  color: #ddd;
  line-height: 1.5;
  background-color: #111;
  background-color: rgba(20,20,20,.9);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.front-no-js-warn h3 {
  color: #FEC632;
  font-weight: bold;
}

.front-no-js-warn a {
  color: #75C6F7;
}
